<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:gfe="http://www.springframework.org/schema/gemfire"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
  ">

  <util:properties id="gemfireProperties">
    <prop key="name">SpringGemFireServerBootstrapExample</prop>
    <prop key="mcast-port">0</prop>
    <prop key="log-level">config</prop>
    <prop key="locators">localhost[11235]</prop>
    <prop key="start-locator">localhost[11235]</prop>
    <prop key="jmx-manager">true</prop>
    <prop key="jmx-manager-port">1199</prop>
    <prop key="jmx-manager-start">true</prop>
    <prop key="http-service-port">0</prop>
  </util:properties>

  <gfe:cache properties-ref="gemfireProperties"/>

  <gfe:partitioned-region id="Example" persistent="false" key-constraint="java.lang.String" value-constraint="java.lang.Integer">
    <gfe:cache-listener>
      <bean class="org.spring.data.gemfire.cache.LoggingCacheListener"/>
    </gfe:cache-listener>
    <gfe:cache-loader>
      <bean class="org.spring.data.gemfire.cache.NamedNumbersCacheLoader">
        <property name="namedNumbers" ref="NamedNumbers"/>
      </bean>
    </gfe:cache-loader>
  </gfe:partitioned-region>

  <util:map id="NamedNumbers" map-class="java.util.concurrent.ConcurrentHashMap"
            key-type="java.lang.String" value-type="java.lang.Integer">
    <entry key="zero" value="0"/>
    <entry key="one" value="1"/>
    <entry key="two" value="2"/>
    <entry key="three" value="3"/>
    <entry key="four" value="4"/>
    <entry key="five" value="5"/>
    <entry key="six" value="6"/>
    <entry key="seven" value="7"/>
    <entry key="eight" value="8"/>
    <entry key="nine" value="9"/>
  </util:map>

  <gfe:annotation-driven/>

  <bean class="org.spring.data.gemfire.cache.execute.RegionFunctions"/>

</beans>
